---
title: Default Input
description: The input component lets users enter alphanumeric characters for answers that are no longer than one line, using the appropriate keyboard on touch devices.
layout: example
---

<div class="dp-field">
    <label class="dp-label dp-label" for="default-example">Enter some text</label>
    <input type="text" id="default-example" class="dp-input">
</div>