---
title: Input - email
description: The input component lets users enter alphanumeric characters for answers that are no longer than one line, using the appropriate keyboard on touch devices.
layout: example
---

<div class="dp-field">
    <label class="dp-label dp-label" for="email">Email address</label>
    <input type="email" id="email" autocomplete="email" class="dp-input">
</div>