---
title: Default Primary Button
description: The button component is used to direct the user to perform a specific interaction.
layout: example
---

<button type="submit" class="dp-button">
    <span class="dp-button__inner">Save and continue</span>
</button>