.app-example {
    &__container {
        position: relative;
        border: 1px solid $grey2;
    }

    &__toolbar {
        border-bottom: 1px solid $grey2;
        padding: 0.5rem 1rem;
    }

    &__frame {
        display: block;
        border: none;
        padding: 1rem;
        width: 100%;
        &--xs {
            height: 8rem;
        }

        &--s {
            height: 12rem;
        }

        &--m {
            height: 20rem;
        }

        &--l {
            height: 30rem;
        }
    }

    &__panel {
        // display: none;
        padding: 1rem;
        font-size: 0.8rem;
        border-top: 1px solid $grey2;

        pre {
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
            word-wrap: break-word;
            border-radius: 0 !important;
        }
    }
}

.app-example-tabs {
    margin: -1px auto;
    padding: 0.5rem 0;
    overflow: visible;
    list-style-type: none;
    border-top: 1px solid $black;
    &__container {
        padding: 2rem;
        border: 1px solid $grey2;
        background-color: $white;
    }

    &__item {
        display: inline-block;
        padding: 0.5rem 1rem;
        color: $link-color;
        cursor: pointer;
    }
}