$dp-input-border-size: 1px;
$dp-input-padding-size: 0.5rem;
$numeric-character-size: 0.6rem;

.dp-input {
  display: block;
  position: relative;
  padding: $dp-input-padding-size;
  width: 100%;

  border: $dp-input-border-size solid $black;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;

  &:focus {
    outline: 1px solid $black;
    outline-offset: -2px;
    box-shadow: 0 0 0 3px $color-focus;
  }

  &:disabled {
    border-color: $grey-75;
    cursor: not-allowed;
  }

  &--error:not(:focus) {
    border: 1px solid $ruby-red;
    outline: 1px solid $ruby-red;
    outline-offset: -2px;
  }

  &--textarea {
    line-height: normal;
    resize: vertical;
  }
  
  &--select {
    background: $white url('#{$static}/images/icons--chevron-down.svg') no-repeat center right 10px;
    background-size: 1rem;
    line-height: 1.3rem;
    padding: $dp-input-padding-size;
    max-width: 100%;
  
    &::-ms-expand {
      display: none;
    }
  }

  &--with-description {
    margin-bottom: 0.55rem;
  }

  &--block {
    display: block;
    width: 100%;
  }

  @include mediaQuery("m") {
    &--select {
      &:not(.dp-input--block):not([class*='dp-input--w-']) {
        width: 20rem;
      }
    }
  }
}

// generation utility for dp-input width modifiers (e.g. dp-input--w-4) for text/mixed cases, based on size of 'W' (largest character)
@include input-width('dp-input', $dp-input-border-size, $dp-input-padding-size);

// generation utility for dp-input width modifiers (e.g. dp-input-number--w-4) for numbers based on rough size of '4' number (largest charactre)
@include input-width('dp-input-number', $dp-input-border-size, $dp-input-padding-size, $numeric-character-size);
