$radio-input-width: 1.25rem;
$radio-padding: 0.6rem;

.dp-radio {
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 1;

  &__input {
    appearance: none;
    background: url("#{$static}/images/icons--check.svg") no-repeat center
      center;
    background-color: $white;
    background-size: 0;
    border: $input-border;
    border-radius: 0.2rem;
    box-sizing: border-box;
    height: $radio-input-width;
    left: $radio-padding;
    position: absolute;
    top: $radio-padding + 0.15rem;
    width: $radio-input-width;
    z-index: 1;

    background: $grey-5;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px $white;

    &:checked {
      background: $black;
    }
    
  }

  &__input:checked + &__label::before {
    background: $grey-5;
    box-shadow: 0 0 0 1px $black;
  }

  &__label {
    cursor: pointer;
    display: block;
    padding: $radio-padding 1rem $radio-padding
      ($radio-padding * 2 + $radio-input-width);
    width: 100%;

    &--with-description {
      padding: 0 1rem $radio-padding 0;
      @extend .dp-fs-s;
    }

    .dp-label__description {
      margin-left: -1.75rem;
    }

    &::before {
      background: $white;
      border: 1px solid $black;
      border-radius: 3px;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    * {
      pointer-events: none;
    }
  }

  &__description {
    display: block;
    margin-top: 0.25rem;
  }

  &__other {
    display: block;
    padding: 0 $radio-padding $radio-padding;
  }

  &__input:not(:checked) ~ &__other {
    display: none;
  }

  &__input:not(:checked) ~ &__other--open {
    display: block;
  }

  &__input:focus + &__label:before {
    -webkit-box-shadow: 0 0 0 3px $focus-color, inset 0 0 0 1px #222;
    box-shadow: 0 0 0 3px $focus-color, inset 0 0 0 1px #222;
    outline: none;
  }
}

label.dp-label--with-description {
  padding-bottom: 0;
}

.dp-radios {
  &__items {
    display: block;
  }

  &__item {
    display: inline-block;
    margin: 0 0 0.5rem;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @include mediaQuery(s) {
      min-width: 20rem;
      width: auto;
    }
  }

  &__label {
    display: block;
    margin: 0 0 0.5rem;
  }
}
