---
title: Label
description: Labels are paired with inputs, textareas, radios, checkboxes, and selects to describe a form input.
layout: default
eleventyNavigation:
  key: Label
  section: components
---

{% from "example.njk" import example %}
{{ example({group: "components", item: "label", example: "default", html: true, open: false, size: "s" }) }}

<section class="my-8">
    <h2 class="mb-4">When to use this component</h2>
    <p>Labels are paired with inputs, textareas, radios, checkboxes, and selects to describe a form input.</p>
</section>

<section class="mb-8">
    <h2 class="mb-4">When not to use this component</h2>
    <p>Open-ended questions can be difficult for users to answer, so consider breaking down the question into simpler questions that can be answered using a single 
    line input or by selecting an answer using, for example, radios.</p>
</section>

<section class="mb-8">
    <h2 class="mb-4">How to use this component</h2>
    <p>Generally speaking you <strong>should not</strong> need to implement a label yourself as the form inputs have them imported in their respective templates.</p>
    <p>All input and textarea components must have a visible label.</p>

    <h3>Do:</h3>
    <ul class="mb-6 list-disc list-inside">
        <li>make sure the label is short, direct and written in sentence case</li>
        <li>left-align the label above the input</li>
    </ul>

    <h3>Do not:</h3>
    <ul class="mb-6 list-disc list-inside">
        <li>use placeholder text to display a label because it will not be visible when the user clicks on the input</li>
        <li>place a colon at the end of the label</li>
    </ul>
</section>

<section class="mb-8">
    <h2 class="mb-4">Variants</h3>
    <h3 class="mb-4">With description</h2>
    <p>Use the optional <code>dp-label--with-description</code> in tandem with an adjacent element that includes the class, 
    <code>dp-label__with-description</code> to show hint text to help the majority of users, like how to enter their information, where to find it, or how it will be used.

    <h3 class="mb-4">With description</h3>
    <p>Use the optional <code>dp-label--with-description</code> in tandem with an adjacent element that includes the class, <code>dp-label__description</code> to show hint text to help the majority of users, like how to enter their information, where to find it, or how it will be used.
    {{ example({group: "components", item: "label", example: "with-description", html: true, open: false, size: "s" }) }}

    <h3 class="mb-4">Size variants</h3>
    <p>Use the optional <code>dp-label--{size}</code> to change the sizing for a given label.
    {{ example({group: "components", item: "label", example: "sizes", html: true, open: false }) }}
</section>
