---
title: Input - with description
description: The input component lets users enter alphanumeric characters for answers that are no longer than one line, using the appropriate keyboard on touch devices.
layout: example
---

<div class="dp-field">
    <label class="dp-label dp-label--xl dp-label--with-description" for="description-example">What are the details?</label>
    <div class="dp-label__description">For example, if you were searching for something, what did you type into the search box?</div>
    <input type="text" id="description-example" autocomplete="on" class="dp-input">
</div>