button.ons-btn__btn {
  &--link {
    @extend a;
    text-decoration: underline;
    font-weight: $font-weight-regular;
    padding-bottom: revert;
  }
  &--link:active,
  &--link:focus {
    @extend .ons-btn;
    top: 0;
  }
  &--search {
          padding-bottom: 0px;
          text-decoration-thickness: 1px;
          font-size: .77778rem;
          margin-left: .75rem;
      }
}
