// Utility overrides for design system that do not exist elsewhere
// follow naming convention ons-u...

$alignItems: (
  fs: flex-start,
  fe: flex-end,
  c: center,
  s: stretch,
  b: baseline,
);

.ons-u {
  &-fw {
    width: 100%;
  }
  @include mq(xxs, s) {
    &-fw\@xxs\@s {
      width: 100% !important;
    }
    &-bb-no\@xxs\@s {
      border-bottom: none;
    }
    &-flex--2\@xxs\@s {
      flex: 2;
    }
  }
  @for $i from 1 to 10 {
    &-order--#{$i} {
      order: #{$i};
    }
  }

  @each $key, $value in $alignItems {
    &-flex-ai-#{$key} {
      align-items: #{$value} !important;
    }
  }

  &-tt-l {
    text-transform: lowercase;
  }
}
