---
title: Typography
description: The primary font used in Digital Publishing is Open Sans
layout: default
eleventyNavigation:
  key: Typography
---

<div class="mb-8">
    <h2>Font</h2>
    <p>The primary font used in Digital Publishing is <a href="https://fonts.google.com/specimen/Open+Sans" rel="external">Open Sans</a>.</p>
    <p>Open Sans, with its broad range of weights and extensive unicode support was chosen to provide a good balance between legibility, personality and readability. As the majority of our User Interface (UI) is text-based, we use weight and size to denote hierarchy and separation between content. Open Sans’ letterforms also provide a good level of contrast which aid readability on poorer quality displays and for users with visual impairment.</p>
</div>
<div class="mb-8">
    <h2>Type scale</h2>
    <p>The type scale provides a framework for sensible typography and should be used wherever possible. The system is responsive to screen size, with sizes ranging from <code>14px</code> to <code>48px</code> (large screens) and <code>14px</code> to <code>32px</code> (small screens).</p>
    <p class="mb-0">Resize the browser to see the effect on font-size.</p>
    <div class="divide-y divide-grey-2">
        {% for t in typography %}
            <div class="md:grid md:grid-cols-3 md:gap-4 py-8">
                <div class="mb-2">
                    <h3 class="text-xl font-bold mb-2">{{t.name}}</h3>
                    <div class="text-grey-1">
                        <span class="sm:inline-block md:hidden">
                            {{t.small}}px		
                         </span>
                        <span class="md:inline-block hidden">
                            {{t.large}}px		
                         </span> / {{t.lineHeight}}
                    </div>
                    <div class="text-sm text-grey-1 mb-2">Open Sans {{t.weight}}</div>
                    <code>.{{t.class}}</code>
                </div>
                <div class="{{t.class}} col-span-2">The Office for National Statistics (ONS) is the country’s largest producer of statistics.</div>
            </div>
        {% endfor %}
    </div>
</div>