---
title: Label with description
description: Labels are paired with inputs, textareas, radios, checkboxes, and selects to describe a form input.
layout: example
---

<div class="dp-field">
    <label class="dp-label dp-label--with-description" for="with-description">Label</label>
    <span class="dp-label__description">Example description</span>
</div>