// sizes passed to the input-width function; they should roughly correspond to the number of characters (e.g. input-width 4 = 4 characters).
// Specific values were taken from the DST design system
$input-widths: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 30, 40, 50;

// default character width value for mixin
$char-max-width: 0.96rem;

// input-width generates modifier classes that can be used to size an input
@mixin input-width($class-name: "dp-input-width", $border-size: 1px, $horizontal-padding: 0.5rem, $char-size: $char-max-width) {
    
    // border offset: e.g. border: 1px solid red; = total offset of 2px
    $border-offset: $border-size * 2;
    
    // padding offset: e.g. padding: 0 1rem; = total offset of 2rem
    $horizontal-padding-offset: $horizontal-padding * 2;

    @each $width in $input-widths {
        .#{$class-name}--w-#{$width} {
            max-width: calc(#{$char-size * $width} + #{$border-offset} + #{$horizontal-padding-offset})
        }
    }
}