---
title: Default Radios
description: The radio component lets users select a single option from a list.
layout: example
---

<div class="dp-field">
    <fieldset class="dp-fieldset">
        <legend class="dp-fieldset__legend">Select your favourite topping</legend>
        <div class="dp-radios__items">
            <p class="dp-radios__item">
                <span class="dp-radio">
                    <input type="radio" id="bacon" class="dp-radio__input" value="bacon" name="food">
                    <label class="dp-radio__label" for="bacon" id="bacon-label">Bacon</label>
                </span>
            </p>
            <br>
            <p class="dp-radios__item">
                <span class="dp-radio">
                    <input type="radio" id="olives" class="dp-radio__input" value="olives" name="food">
                    <label class="dp-radio__label" for="olives" id="olives-label">Olives</label>
                </span>
            </p>
        </div>
    </fieldset>
</div>