---
title: Label siz evariations
description: Labels are paired with inputs, textareas, radios, checkboxes, and selects to describe a form input.
layout: example
---

<div class="dp-field">
    <label class="dp-label dp-label--xl" for="xl-size">XL Label</label>
    <label class="dp-label dp-label--l" for="l-size">L Label</label>
    <label class="dp-label dp-label--m" for="m-size">M Label</label>
    <label class="dp-label" for="default-size">Default Label (Regular)</label>
    <label class="dp-label dp-label--s" for="s-size">S Label</label>
</div>