---
title: Small Primary Button
description: The button component is used to direct the user to perform a specific interaction.
layout: example
---

<button type="submit" class="dp-button dp-button--small">
    <span class="dp-button__inner">csv (78 KB)</span>
</button>