---
title: Radios
description: Radios let the user select a single option from a list.
layout: default
eleventyNavigation:
  key: Radios
  section: components
---
{% from "example.njk" import example %}

<section>
  <p>Radios let the user select a single option from a list.</p>
  {{ example({group: "components", item: "radios", example: "default", html: true, open: false }) }}
</section>

<section class="my-8">
  <h2 class="mb-4">When to use this component</h2>
  <p>Use the radio component when you need to help users select a single option from a list.</p>
</section>

<section class="mb-8">
  <h2 class="mb-4">When not to use this component</h2>
  <p>Do not use the radios component if users can choose more than one option from a list. In this case, use the <a href="/components/checkbox">checkboxes</a> component.</p>
</section>

<section class="mb-8">
  <h2 class="mb-4">How to use this component</h2>
  <p>Radios are grouped within a <code>fieldset</code> which starts with a <code>legend</code> which lets the user know what they need to do.</p>
</section>

<section class="mb-8">
  <h2 class="mb-4">Variants</h2>

  <h3 class="mb-4">With description</h3>
  <p>This variant allows you to add more context to the options in the list. The description is populated by providing a <code>description</code> parameter within the radio’s <a href="/components/label">label</a>  parameter.</p>
  {{ example({group: "components", item: "radios", example: "with-description", html: true, open: false }) }}

  <h3 class="mb-4">Other - input</h3>
  <p>This variant lets the user provide an answer other to the options in the list, or to provide supplemental information required to describe the nature of their answer.</p>
  <p>The radio <a href="/components/label">label</a>  must be directly followed by the <code>dp-radio__label--with-description</code> to let the user know they will need to provide an answer if they select this option.</p>
  <p>Use this variation by wrapping the text <a href="/components/input">input</a> field in a div with class <code>dp-radio__other</code>, added directly after the radio label. CSS hides this field until the radio is <code>:checked</code>.</p>
  {{ example({group: "components", item: "radios", example: "other--input", html: true, open: false }) }}

  <h3 class="mb-4">Other - visible input</h3>
  <p>This variant of the ‘Other’ radio input type shows the input instead of waiting for the radio to be <code>:checked</code>. This variant does not require the <code>dp-radio__label--with-description</code> to be present.</p>
  {{ example({group: "components", item: "radios", example: "other--visible-input", html: true, open: false }) }}

  <h3 class="mb-4">Other - select</h3>
  <p>This variant of the ‘Other’ radio input type uses a select instead of an input. Select “pepperoni” for select to become visible.</p>
  <p>Consider that short <a href="/components/select">select</a> lists of items could be better served by using radio options.</p>
  {{ example({group: "components", item: "radios", example: "other--select", html: true, open: false }) }}

  <h3 class="mb-4">Radios with an ‘or’ label</h3>
  <p>This variant has an 'or' label.</p>
  {{ example({group: "components", item: "radios", example: "with-or", html: true, open: false }) }}
  
  <h3 class="mb-4">Radios without a border</h3>
  <p>This variant removes the border surrounding the radio input and <a href="/components/label">label</a>.</p>
  <p>Use the css class <code>dp-radios--item--no-border</code> on the radio item containing paragraph, use <code>dp-radio__input--no-border</code> on the input and <code>dp-radio__label--no-border</code> on the label.</p>
  {{ example({group: "components", item: "radios", example: "without-border", html: true, open: false }) }}
  
</section>
