---
title: Textarea
description: A textarea lets users enter multiple lines of text, such as when answering an open-ended question.
layout: example
---

<div class="dp-field">
    <label class="dp-label dp-label--l dp-label--with-description" for="default">Please provide feedback</label>
    <span class="dp-label__description">For example describe any difficulties you experienced in the use of this service</span>
    <textarea rows=8 class="dp-input dp-input--textarea" id="default"></textarea>
</div>