---
title: Textarea
tags: components
description: A textarea lets users enter multiple lines of text, such as when answering an open-ended question.
layout: example
---

<div class="dp-field">
    <label class="dp-label dp-label--l dp-label--with-description" for="textarea-default">What are the details?</label>
    <span class="dp-label__description">For example, if you were searching for something, what did you type into the search box?</span>
    <textarea rows=8 class="dp-input dp-input--textarea" id="textarea-default"></textarea>
</div>