---
title: Default Label
description: Labels are paired with inputs, textareas, radios, checkboxes, and selects to describe a form input.
layout: example
---

<div class="dp-field">
    <label class="dp-label" for="default">Label</label>
</div>