.coverage,
.dimension {
  &-search {
    &__results {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      gap: 0.5em;
      padding: 0.5em 0;
      margin-bottom: 0;
      &:first-child {
        border-top-width: 2px !important;
      }

      .ons-btn__inner {
        padding: 0.3em 0.7em;
      }

      & .ons-collapsible__content {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
  &-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    &__selected {
      .ons-btn {
        text-align: left;
        white-space: normal;
      }
      .ons-btn__inner {
        display: flex;
        align-items: center;
        padding: 0.5em 0.666667em 0.666667em 0.666667em;
        box-shadow: none;
      }
    }
  }
}

.dimension-search__results .ons-btn {
  align-self: flex-start;
}

@include mq(xxs, s) {
  .dimension-search__results {
    align-items: flex-start !important;

    & .ons-collapsible__content {
      margin-right: -3rem;
    }
  }
}

.ons-list--categorisations {
  list-style-position: inside;
  padding-left: 0.65em;
  margin-top: 1rem;
  line-height: 1.4rem;
}
