@media print {
  footer.print--hide {
    display: none;
  }
}

.footer {
  background-color: $color-grey-100;
  color: $white;

  &--sticky {
    bottom: 0;
    width: 100%;
  }

  a {
    color: $color-grey-5;
    text-decoration: underline;

    &:hover {
      color: $white;
      text-decoration: underline solid $white 2px;
    }
  }

  &-nav {
    &__heading {
      margin-top: 2rem;
      font-size: 18px;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      margin: 0;
      padding: 6px 0 2px 0;
    }
  }

  &-license {
    padding: 1.5rem 0 $col 0;

    &__text {
      display: inline-block;
      vertical-align: super;
    }
  }

  .ons-footer__ogl-img {
    float: left;
    margin-right: 1rem;
    fill: $white;
  }

  .ons-external-link .ons-svg-icon {
    margin-left: 0.5rem;
    fill: $white;
  }
}
