// _header.scss

// PRIMARY NAVIGATION

.primary-nav {
  @media print {
    &.print--hide {
      display: none;
    }
  }

  background-color: $abbey;
  position: relative;

  @include breakpoint(md) {
    border-top: 1px solid $thunder;
    border-bottom: 1px solid $thunder;
  }

  &__list {
    list-style: none;
    margin: 0 auto;
    font-size: 14px;
    display: flex;
    align-items: stretch;

    @include breakpoint(md-max) {
      justify-content: center;
      flex-wrap: nowrap;
    }

    @include breakpoint(sm) {
      padding: 0 0 $baseline 0;
      display: block;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;

    @include breakpoint(sm) {
      height: $baseline * 6;
      display: block;
      padding-left: 16px;
    }

    @include breakpoint(md) {
      &:nth-child(6) {
        border-right: 1px solid $thunder;
      }
    }

    //children show on hover
    &:hover > ul,
    &--focus > ul {
      top: 100%;
      @include breakpoint(md) {
        background-color: $thunder;
        color: $white;
        text-decoration: none;
        display: block;
        width: 32.75%;
      }

      @include breakpoint(md-max) {
        width: unset;
      }

      @include breakpoint(sm) {
        width: 100%;
      }
    }

    //set hover styling - done on link so it works on keyboard tab
    &:hover > a,
    &:focus > a,
    &--focus > a {
      @include breakpoint(md) {
        border-left: 1px solid $thunder;
        background-color: $thunder;
        color: $white;
        text-decoration: none;
      }
    }
    &:hover {
      @include breakpoint(md) {
        background-color: $thunder;
      }
    }

    &--active {
      @include breakpoint(sm) {
        & > a {
          background-color: $active;
        }
      }

      @include breakpoint(md) {
        background-color: $active;
      }

      & > a {
        color: $white;
      }
    }
  }

  &__link {
    color: $iron-light;
    text-decoration: none;
    height: 100%;

    @include breakpoint(sm) {
      height: ($baseline * 6);
      padding: 14px 0 10px $col;
    }

    @include breakpoint(md) {
      display: inline-block;
      padding: 5px $baseline * 2 9px $baseline * 2;
      border-left: 1px solid $thunder;
      font-size: 13px; // smaller font on medium for retina screens
    }

    @include breakpoint(lg) {
      font-size: 14px;
    }

    //set focus styling - has to be on link to work (hover styling on li)
    &:focus {
      @include breakpoint(md) {
        border-left: 1px solid $thunder;
        background-color: $thunder;
        color: $white;
        text-decoration: none;
      }
    }

    &:hover {
      @include breakpoint(sm) {
        color: $white;
        text-decoration: underline;
      }
    }

    //show sub-menu on keyboard focus of link
    &:focus + ul {
      top: 100%;

      @include breakpoint(md) {
        background-color: $thunder;
        text-decoration: none;
        display: block;
      }
    }

    &:focus.hide-children + ul {
      left: -99999px; // override class to hide menu even when expandable item has focus
    }
  }

  //NAVIGATION CHILDREN

  &__child-list {
    list-style: none;
    color: $white;
    margin: 0;

    @include breakpoint(sm) {
      background-color: $ship-grey;
      padding: 0;
    }

    @include breakpoint(md) {
      position: absolute;
      padding: 0;
      z-index: 10;
      display: none;
      border: 1px solid $thunder;
    }
  }

  &__child-item {
    display: block;
    margin: 0;
    padding: 0;

    &--active {
      background-color: $cod-gray;
    }
  }

  &__child-link {
    display: block;
    color: $white;
    text-decoration: none;

    @include breakpoint(sm) {
      height: 48px;
      padding: 14px 0 12px $col;

      &:hover,
      &:focus {
        color: $white;
        text-decoration: underline;
      }
    }

    @include breakpoint(md) {
      padding: 14px 0 10px $col;

      &:hover,
      &:focus {
        outline: 0;
        background-color: $iron;
        text-decoration: none;
        color: $thunder;
      }
    }
  }

  &__language {
    display: block;
    color: $iron-light;
    overflow: hidden;
    margin: 0;
    padding-left: 32px;

    @include breakpoint(sm) {
      & a.language__link {
        color: $white;
      }
    }
  }
}

//JQUERY EXPANDABLE MOBILE MENU - temporary until we write our own JS in new library

.js-nav-hidden {
  @include breakpoint(sm) {
    display: none;
  }
}

.js-expandable-active {
  @include breakpoint(sm) {
    & > a {
      background-color: $thunder;
    }

    & ul {
      display: block !important;
    }
  }
}

.nav__top-level-duplicate {
  @extend .primary-nav__child-item;

  & > a {
    @extend .primary-nav__child-link;
  }

  @include breakpoint(md) {
    display: none;
  }
}

//Add plus symbol - class used for JS too
.js-expandable {
  @include breakpoint(sm) {
    & > a > .expansion-indicator {
      display: initial;
      visibility: initial;

      &:before {
        position: absolute;
        color: $iron-light;
        content: "+";
        left: $col;

        @if $old-ie == true {
          content: "";
        }
      }
    }

    &-active {
      & > a > .expansion-indicator {
        &:before {
          content: "-";
          padding-left: 5px;
        }
      }
    }
  }
}

//Menu and search controls - TODO rewrite with mobile
.nav--controls {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;

  @include breakpoint(md) {
    display: none;
  }

  &__item {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 50%;
  }

  &__menu {
    background-color: $ship-grey;
    font-size: 17px;
    float: left;
    width: 100%;
    padding: $baseline * 2 $col;
    color: $iron-light;
    border-right: 1px solid $thunder;
    text-decoration: none;

    &:hover,
    &:focus {
      @include breakpoint(sm) {
        color: $white;
        text-decoration: none;
      }
    }
  }

  &__no-search {
    width: 100%;
  }

  &__search {
    background-color: $ship-grey;
    font-size: 17px;
    float: left;
    width: 100%;
    padding: $baseline * 2 $col;
    color: $iron-light;
    text-decoration: none;

    &:hover,
    &:focus {
      @include breakpoint(sm) {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.menu-is-expanded {
  & > a {
    background-color: $abbey;
  }
}

.search-is-expanded {
  & > a {
    background-color: $abbey;
  }
}

.nav-main--hidden {
  @include breakpoint(sm) {
    display: none;
  }
}

.nav-search--hidden {
  @include breakpoint(sm) {
    display: none;
  }
}

// HEADER - LOGO, LANGUAGE SELECTION AND SECONDARY NAV LINKS

// Header
.header {
  padding: 15px 0 9px 0;
  position: relative; // So language toggle has relative parent
  height: ($baseline * 9);

  &--separator {
    background-color: $ship-grey;
    height: 2px;
  }

  @media print {
    .print--hide {
      display: none;
    }
  }
}

// Logo
.logo {
  display: block;

  @include breakpoint(sm) {
    height: $baseline * 6;
    padding: 2px 0 6px 0; //off-grid on mobile otherwise
  }

  @include breakpoint(md) {
    height: 39px;
    margin-top: 2px;
  }
}

// Secondary navigation list
.secondary-nav {
  @include breakpoint(md-max) {
    margin: 0;
  }

  max-width: 55%;
  float: right;

  // Fix for old-ie hiding mobile--hide class
  @if $old-ie == false {
    @include breakpoint(sm) {
      display: none;
    }
  }

  &__list {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__item {
    float: left;
    margin: 0;
    padding: 0;

    &:last-child a {
      padding-right: 0;
      border-right: 0 solid;
    }
  }

  &__link {
    padding: 0 8px 0 8px;
    border-right: 1px solid $iron-light;
    text-decoration: none;

    &--active {
      @include breakpoint(sm) {
        background-color: $active;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

// 'Skip to main content' keyboard tabbable link
.skiplink {
  position: absolute;
  left: -99999px;

  &:focus {
    background: $ship-grey;
    color: $white;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 10;
    width: ($col * 10);
    padding: 6px 0 10px 0;
    font-size: 14px;
    text-align: center;
  }
}
