.improve-this-page {
  &__prompt {
    background-color: $astral;
    color: $white;
    padding: 10px 15px 10px;

    a {
      color: $white;
      display: inline-block;
    }
  }

  &__form {
    margin-top: 30px;
    padding: 15px 0;
    border-top: 10px solid $astral;

    .form-control {
      width: 100%;
      opacity: 1;
      -webkit-appearance: none;
      border-radius: 0;
      background-image: none;
      box-sizing: border-box;
      font-weight: 400;
      text-transform: none;
      line-height: 1.25;
      padding: 5px 4px 4px;
      border: 2px solid #0b0c0c;
      margin-bottom: 40px;

      @media (min-width: 641px) {
        width: 70%;
        font-size: 16px;
        line-height: 1.31579;
      }

      &__error {
        outline: 3px solid $poppy;
        outline-offset: -2px;
        border: none;
      }
    }

    .form-control:focus {
      outline: 3px solid $carrot;
      outline-offset: -2px;
      border: none;
    }

    textarea {
      display: block;
    }

    .form-label {
      &-bold {
        font-weight: 700;
        line-height: 1.25;
        text-transform: none;
        display: block;
        color: #0b0c0c;
        padding-bottom: 2px;
        margin-bottom: 4px;

        .form-hint {
          text-transform: none;
          display: block;
          color: #6f777b;
          font-weight: normal;
        }

        .form-error {
          text-transform: none;
          display: block;
          color: $poppy;
          font-weight: 700;
          font-size: 16px;
        }
      }

      font-weight: 400;
      text-transform: none;
      display: block;
      color: #0b0c0c;
      padding-bottom: 2px;
      margin-bottom: 4px;

      @media (min-width: 641px) {
        line-height: 1.31579;
      }
    }
  }

  &__is-useful-question {
    font-weight: 700;
    text-transform: none;
    display: inline;
  }

  &__page-is-useful-button {
    margin-right: 0.2em;
  }

  &__anything-wrong {
    float: right;

    @include breakpoint(sm) {
      float: none;
      margin: $col 0 $baseline 0;
    }
  }
}

#feedback-form-close {
  &:hover {
    color: $white;
    text-decoration: underline;
  }
}
