// nav.scss

.nav-tile-holder {

	&__heading {
		margin-bottom: $baseline * 3;
	}

	&__list {
		padding: 0;
		list-style: none;
	}

	&__item {
		padding: 6px 0 10px 0;
	}
}

.nav {
	&-secondary {
		margin-bottom: ($baseline * 2);
		padding-top: $baseline;

		&__title {
			margin: 0 0 0 0;
			font-size: 21px;
			font-weight: 400;
			line-height: 24px;
		}

		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		&__item {
			display: inline-block;
			margin: 0;
			padding: 11px 0 5px 0;
			line-height: 16px;

			a {
				text-decoration: underline;
			}

			&:after {
				content: '|';
				padding: 0 0 0 4px;
				color: $aluminium;
			}

			&:last-child:after {
				content: '';
				padding: 0 0 0 0;
			}

		}

		&--census {
			color: $iron-light;
			a {
				color: $iron-light;
			}
		}
	}

}
