.release {
  h1 {
    display: flex;
    justify-content: flex-start;

    .national-statistics {
      &__logo {
        display: block;
        height: 59px;
        width: 59px;
        min-height: 59px;
        min-width: 59px;
      }
    }
  }

  .about-the-data {
    .welsh-statistic > img {
      height: 44px;
    }

    .national-statistics {
      h2 {
        display: flex;
        justify-content: flex-start;
      }

      &__logo {
        display: block;
        height: 36px;
        width: 36px;
        min-height: 36px;
        min-width: 36px;
      }
    }
  }
}
