.release {
  h1 {
    display: flex;
    justify-content: flex-start;

    & > img {
      height: 59px;
    }
  }

  .about-the-data {
    .welsh-statistic > img {
      height: 44px;
    }

    .national-statistic {
      h2 {
        display: flex;
        justify-content: flex-start;

        & > img {
          height: 36px;
        }
      }
    }
  }
}
