.search {
  @media print {
    &.print--hide {
      display: none;
    }
  }

  @include breakpoint(sm) {
    background-color: $abbey;
  }

  @include breakpoint(md) {
    background-color: $ship-grey;
    font-size: 1.41rem;
    height: 80px;
  }

  &__count {
    padding: 0.8rem 0;
    border-bottom: 1px solid $color-borders;

    h2 {
      margin-bottom: 0;
    }
  }

  &__summary {
    width: 100%;
    padding: ($baseline * 3) 0 ($baseline * 3);

    @include breakpoint(sm) {
      padding: ($baseline * 2) 0 ($baseline * 2);
    }

    .base-font {
      font-size: 2rem;

      @include breakpoint(sm) {
        font-size: 1.25rem;
      }
    }

    &__query {
      @extend .base-font;
      font-weight: 700;
    }

    &__suggestion {
      display: block;
      margin-top: ($baseline * 3);
    }

    &__generic {
      @extend .base-font;
      font-weight: 300;
    }
  }

  &__filter {
    margin-bottom: ($baseline * 15);

    &__mobile-filter-toggle {
      width: 100%;
      text-align: center;
      display: inline-block;
      margin: ($baseline *2) 0 0 0;
      display: none;

      @include breakpoint(sm) {
        display: inline-block;
      }

      button {
        @include breakpoint(sm) {
          width: 100%;
          display: block;
        }
      }
    }

    &.js-fullscreen-filter-menu-content {
      @include breakpoint(sm) {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: white;
        padding: 40px;
        z-index: 9999999999;
        overflow-y:auto;
        overflow-x:hidden;
      }
    }

    &__heading {
      padding: 1rem 0;

      h3 {
        margin: 0;
        display:inline-block
      }
    }

    &__content {
      &__archive-info {
        margin-top: ($baseline * 4);
      }

      .ons-collapsible__content {
        border-left: none;
      }

      #topicsFilterForm > details > fieldset {
        margin-bottom: 1rem;
      }
    }
  }

  &__sort {
    padding: 1rem 0;
    border-bottom: 1px solid $color-borders;

    @include breakpoint(sm) {
      height: auto;
      margin: $baseline 0;
      border-bottom: none;
    }

    &__select {

      label {
        vertical-align: unset;
      }

      .ons-btn {
        vertical-align: initial;
      }

      @include breakpoint(sm) {
        display: flex;

        label {
          margin: 0 0.25rem 0 0;
          border-bottom: none;
        }

        select {
          flex-grow: 1;
        }
      }
    }
  }

  &__results {
    margin-top: 17px;
    height: auto;

    h1 {
      color: $iron-light;
      margin: ($baseline * 2) 0 $baseline 0;
    }


    &__item {
      list-style: none;
      padding-left: 0;
      margin: ($baseline * 4) 0;

      &--product-page {
        border: 0.25rem solid $iron-light;
        padding: 0.75rem;
      }

      h3 {
        margin-bottom: $baseline;

        & a {
          text-decoration: none;
        }
      }

      p {
        margin-bottom: $baseline;
      }


    }

    @if $old-ie == false {
      @include breakpoint(sm) {
        height: auto;
        h1 {
          font-size: 1.75rem;
          line-height: ($baseline * 4);
        }
      }
    }
  }

  &__pagination {
    margin-bottom: ($baseline * 2);

    &__item {
      display: inline;
      float: left;
    }
  }

  &__form {
    font-family: $base-font-family;
    font-weight: inherit;
    line-height: $base-line-height;
    width: 100%;
    color: $iron-light;
    padding: ($baseline * 2) 0;
    overflow: initial;
    display: flex;

    @if $old-ie == false {
      @include breakpoint(sm) {
        padding: ($baseline * 3) 0;
        overflow: hidden;
      }
    }

    @include breakpoint(md-max) {
      display: flex;
    }

    &--no-results {
      display: initial;
      margin: 0 0 ($baseline * 2) 0;
      padding: 0;
      display: inline-block;

      margin-bottom: 10rem;
      @include breakpoint(sm) {
        margin-bottom: 5rem;
      }
    }
  }

  &__label {
    font-family: $base-font-family;
    font-weight: inherit;
    line-height: $base-line-height;
    font-size: 1rem;
    color: $iron-light;
    padding: 12px $col 12px 0;
    background-color: transparent;
    position: relative;
    flex-grow: 1;

    @if $old-ie == false {
      @include breakpoint(sm) {
        display: none;
      }
    }

    &--no-results {
      color: initial;
      font-weight: 600;
      display: block;
      margin: 0 0 $baseline 0;
    }
  }

  &__input {
    font-family: $base-font-family;
    font-weight: inherit;
    line-height: $base-line-height;
    font-size: 1.41rem;
    color: $thunder;
    border: none;
    padding: 4px;
    height: ($baseline * 6);
    background: white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    flex-grow: 2;

    &:focus {
      outline: 2px solid $carrot;
      outline-offset: -2px;
      z-index: 1;
      position: relative;
    }

    @if $old-ie == false {
      @include breakpoint(sm) {
        width: 80%;
        font-size: 1.16rem;
        padding: 12px calc($col/2) 8px calc($col/2);
      }
    }

    &--body {
      background: none;
      outline: 2px solid $thunder;
      outline-offset: 0;
      z-index: 1;
      position: relative;
      float: left;
    }

    &--no-results {
      border: $mine-shaft 2px solid;
      height: ($baseline * 5);
      flex-grow: unset;
      float: left;
    }
  }

  &__button {
    font-family: $base-font-family;
    font-weight: inherit;
    line-height: $base-line-height;
    font-size: 1.41rem;
    color: $white;
    border: none;
    padding: 0;
    background-color: $primary;
    height: ($baseline * 6);
    position: relative;

    &:hover,
    &:focus {
      background-color: darken($primary, 8%);
    }

    &:focus {
      outline: 3px solid $carrot;
    }

    & > * {
      display: flex;
      justify-content: center;
    }

    @if $old-ie == false {
      @include breakpoint(sm) {
        width: 20%;
        font-size: 1.16rem;
        padding-left: calc($col/2);
        padding-right: calc($col/2);
      }
    }

    &--results-page {
      height: ($baseline * 5);
      padding-top: calc($baseline / 2);
    }

    &--body {
      height: 52px;
      width: 52px;
      margin-top: -2px;
      float: left;
    }

    &--no-results {
      width: ($baseline * 5);
      height: ($baseline * 5);
      flex-grow: unset;
      float: left;
    }
  }
}

[type="search"] {
  &::-webkit-search-cancel-button,
  ::-webkit-search-decoration {
    -webkit-appearance: auto;
  }
}
