---
title: Select
description: A select component (((todo)))
layout: default
eleventyNavigation:
  key: Select
  section: components
---
{% from "example.njk" import example %}

<section>
    <p>These should <strong>never</strong> be used for short lists of items that could be better served by using radio options.</p>

    <strong>Use with caution</strong>
    <p>GDS advise against using dropdown select boxes as they have poor accessibility and can be cumbersome to use on a 
    mobile device.</p>
    <p>They hide the choices and can confuse users as they may not understand what they’re being asked before they see the 
    answers by interacting with the element.</p>
    <p>Where large lists are involved, some users may be unaware that they can scroll through the entire list to find the 
    appropriate answer.</p>
    <p>Because the expanded list cannot be styled, this may cause usability issues where the dropdown itself may be difficult to read for users 
    with visual impairments.</p>
    {{ example({group: "components", item: "select", example: "default", html: true, open: false }) }}
</section>

<section class="mb-8">
    <h2 class="mb-4">Variants</h2>

    <h3 class="mb-4"><strong>Full width</strong></h3>
    You can set a select component's width to be the width of its parent container by using <code>dp-input--block</code>.

    {{ example({group: "components", item: "select", example: "full-width", html: true, open: false }) }}
</section>
