{% macro example(params) %}

{% set exampleRoot = "src/views/" + params.group + "/" + params.item + "/" + params.example + "/" %}
{% set exampleTitle = title %}
{% if params.open %}
  {% set exampleId = exampleId + '-open' %}
{% endif %}

{% set display = params.displayExample | default(true) %}
{% set exampleURL = "/" + params.group + "/" + params.item + "/" + params.example + "/index.html" %}
{% set examplePath = exampleRoot + "index.njk" %}
{% set html %}
{% generateHTML examplePath %}
{% endset %}

<div class="my-8">
    {% if display %}
    <div class="app-example__container {{ "mb-0" if params.html }}">
        <div class="app-example__toolbar">
            <a href="{{ exampleURL }}" class="app-example__new-window" target="_blank">
                Open this
                {# Don't use full title visually as the context is shown based on location of this link #}
                <span class="dp-visuallyhidden">{{ exampleTitle | lower }}</span>
                example in a new tab
            </a>
        </div>
        <iframe title="{{ exampleTitle + " example" }}" data-module="app-example-frame" class="app-example__frame app-example__frame app-example__frame--{{params.size}}" src="{{ exampleURL }}" frameBorder="0" loading="lazy"></iframe>
        <span id="options-{{ exampleId }}"></span>
        <ul class="app-example-tabs" role="tablist">
            <li class="app-example-tabs__item" role="tab" aria-controls="{{ params.item }}-html" data-track="tab-html">HTML</li>
        </ul>
        <div class="app-example__panels">
            <div id="{{ params.item }}-html" class="app-example__panel" role="tabpanel" aria-labelledby="{{ params.item}}-html" tabindex="0" hidden>        
            {% highlight "html" %}
            {{html | safe }} 
            {% endhighlight %}
            </div>
        </div>
    </div> 
    {% endif %}
</div>

{% endmacro %}