{% macro example(params) %}

{% set exampleRoot = "src/views/" + params.group + "/" + params.item + "/" + params.example + "/" %}
{% if params.open %}
  {% set exampleId = exampleId + "-open" %}
{% endif %}

{% set display = params.displayExample | default(true) %}
{% set exampleURL = "/" + params.group + "/" + params.item + "/" + params.example + "/index.html" %}
{% set examplePath = exampleRoot + "index.njk" %}
{% set html %}
{% generateHTML examplePath %}
{% endset %}

{% set componentLabel = params.item + "-" + params.example %}

{% if params.size == "l" %}
    {% set panelHeight = "h-96" %}
{% elif params.size == "s" %}
    {% set panelHeight = "h-24" %}
{% elif params.size == "m" %}
    {% set panelHeight = "h-80" %}
{% else %}
    {% set panelHeight = "h-44" %}
{% endif %}

<div class="my-4">
    {% if display %}
    <div class="relative border border-grey-2 {{ "mb-0" if params.html }}">
        <div class="border-b border-grey-2 py-2 px-4">
            <a href="{{ exampleURL }}" target="_blank">
                Open this
                <span class="dp-visuallyhidden">{{ exampleTitle | lower }}</span>
                example in a new tab
            </a>
        </div>
        <iframe title="{{ params.item + " example" }}" id="{{ componentLabel }}-iframe" class="block border-0 w-full resize-y {{panelHeight}}" src="{{ exampleURL }}" frameBorder="0" loading="lazy">
        </iframe>
        <ul class="my-0 mx-auto overflow-visible list-none border-t border-grey-2" role="tablist">
            <li class="text-ocean-blue inline-block p-4 cursor-pointer font-bold" role="tab" aria-controls="{{ componentLabel }}-html" data-track="tab-html" tabindex="0">HTML</li>
        </ul>
        <div>
            <div id="{{ componentLabel }}-html" class="p-4 text-sm border-t border-grey-2" role="tabpanel" aria-labelledby="{{ componentLabel }}-html" tabindex="0" hidden>        
            {% highlight "html" %}
            {{html | safe }} 
            {% endhighlight %}
            </div>
        </div>
    </div> 
    {% endif %}
</div>

{% endmacro %}