<div class="max-w-7xl mx-auto px-6 py-2">
    <img src="/assets/images/ons-logo.svg" alt="Office for National Statistics">
</div>

<header class="mb-4 bg-night-blue text-white">
    <div class="max-w-7xl mx-auto">
        <div class="py-4 px-6 text-lg font-bold">Digital Publishing Design System</div>
    </div>
</header>