<div class="page-container py-3">
    <img src="/assets/images/ons-logo.svg" alt="Office for National Statistics">
</div>

<header class="bg-ocean-blue text-white">
    <div class="page-container flex items-center justify-between py-3">
        <a href="/" class="sm:text-lg font-bold leading-5 no-underline text-white hover:text-white">Digital Publishing Design System</a>
        <button id="btn-menu" class="ml-9 py-2 pl-2 pr-1 font-bold text-sm md:hidden border-white border flex items-center relative active:top-px" aria-expanded="false">
            <span class="uppercase">Menu</span>
            <svg id="btn-menu-arrow" class="transform" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M5 6H15L10 15L5 6Z"/>
            </svg>
        </button>
    </div>
</header>