{% set sections = [
    {
        pages: [
            {
                url: "/",
                title: "Getting started"
            }
        ]
    }, {
        title: "Styles",
        pages: collections.all | eleventyNavigation | selectattr("section", "styles")
    }
] %}

<nav>
    <ul>
        {% for section in sections %}
            <li>
                {% if section.title %}
                    <h2 class="font-normal text-gray-400 mb-2">{{section.title}}</h2>
                {% endif %}
                <ul class="mb-4">
                    {% for page in section.pages %}
                        <li class="mb-1">
                            <a href="{{page.url | url }}">{{page.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</nav>