{% set currentPageIndicatorStyle="pl-2 md:-ml-3 font-bold border-l-4 border-ocean-blue" %}

<nav class="hidden md:block md:py-6">
    <ul>
        {% for section in sections %}
            <li>
                {% if section.title %}
                    <h2 class="font-normal text-base text-grey-2 mb-2">{{section.title}}</h2>
                {% endif %}
                <ul class="md:mb-4">
                    {% for post in section.pages %}
                        {% set isCurrent = page.url == post.url %}
                        <li class="mb-2 {{currentPageIndicatorStyle if isCurrent}}" aria-current={{ "page" if isCurrent else "false" }}>
                            <a href="{{post.url | url }}" class="no-underline hover:underline">{{post.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</nav>