{% set sections = [
    {
        pages: [
            {
                url: "/",
                title: "Getting started"
            }
        ]
    }, {
        title: "Styles",
        pages: collections.styles | eleventyNavigation
    }
] %}

<nav>
    <ul>
        {% for section in sections %}
            <li>
                {% if section.title %}
                    <h2 class="font-normal text-base text-grey-2 mb-2">{{section.title}}</h2>
                {% endif %}
                <ul class="mb-4">
                    {% for post in section.pages %}
                        {% if page.url == post.url %}
                            <li class="mb-2 pl-2 -ml-3 font-bold border-l-4 border-ocean-blue" aria-current="page">
                            {% else %}
                                <li class="mb-2">
                                {% endif %}
                                <a href="{{post.url | url }}" class="no-underline hover:underline">{{post.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>