---
title: Checkboxes
description: Checkboxes let the user select one or more options from a list.
layout: default
eleventyNavigation:
  key: Checkboxes
  section: components
---
{% from "example.njk" import example %}

<section>
    <p>Checkboxes let the user select one or more options from a list.</p>
    {{ example({group: "components", item: "checkboxes", size: "m", example: "default", html: true, open: false }) }}
</section>

<section class="my-8">
    <h2 class="mb-4">When to use this component</h2>
    <p>Use the checkboxes component when you need to help users select multiple options from a list.</p>
</section>

<section class="mb-8">
    <h2 class="mb-4">When not to use this component</h2>
    <p>Do not use the checkboxes component if users can only choose one option from a list. In this case, you should use the <a href="/components/radios">radios</a> component.</p>
</section>

<section class="mb-8">
    <h2 class="mb-4">How to use this component</h2>
    <p>Checkboxes are grouped within a fieldset which starts with a <code>legend</code> which lets the user know what they need to do.</p>
</section>