---
title: Grouped Buttons
description: The button component is used to direct the user to perform a specific interaction.
layout: example
---

<div class="dp-button-group">
    <button type="submit" class="dp-button">
        <span class="dp-button__inner">Continue</span>
    </button>

    <button type="submit" class="dp-button dp-button--secondary">
        <span class="dp-button__inner">Cancel</span>
    </button>
</div>
