---
title: Default Select
description: Select components should be used for when there is a long list of items
layout: example
---

<div class="dp-field">
    <label class="dp-label" for="default">Select your favourite football club</label>
    <select id="select" name="select" class="dp-input dp-input--select">
        <option value="" selected disabled>Select an option</option>
        <option value="arsenal">Arsenal</option>
        <option value="man-utd">Man Utd</option>
        <option value="chelsea">Chelsea</option>
        <option value="tottenham">Tottenham Hotspur</option>
        <option value="liverpool">Liverpool</option>
        <option value="everton">Everton</option>
    </select>
</div>