* {
  margin: 0; /* remove all default margins */
  padding: 0; /* remove all default padding */
  box-sizing: border-box; /* included border size as part of width value */
}

html {
  width: 100%;
  height: 100vh;
  background: white;
}

body {
  height: 100%;
}
