* {
  margin: 0; /* remove all default margins */
  padding: 0; /* remove all default padding */
}

html {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}

body {
  height: 100%;
}