html {
  font-size: $base; /* set 1rem to value of $base */
  line-height: $line-height-regular;
}

body {
  color: $text-color;
  font-family: $font-family-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: $font-size-5xl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-l;
}

h4, h5, h6 {
  font-size: $font-size-m;
}

