---
title: Input
description: The input component lets users enter alphanumeric characters for answers that are no longer than one line, using the appropriate keyboard on touch devices.
layout: default
eleventyNavigation:
  key: Input
  section: components
---
{% from "example.njk" import example %}

<section>
    <p>The input component lets users enter alphanumeric characters for answers that are no longer than one line, using the appropriate keyboard on touch devices.</p>
    {{ example({group: "components", item: "input", example: "default", html: true, open: false }) }}
</section>

<section class="my-8">
    <h2 class="mb-4">When to use this component</h2>
    <p>Use the input component when you need to let users enter alphanumeric information that is no longer than one line, such as their telephone number or email address.</p>
</section>

<section class="mb-8">
    <h2 class="mb-4">When not to use this component</h2>
    <p>Do not use this component if you need to let users enter information that will span more than one line. In this case, you should use the <a href="/components/textarea">textarea</a> component.</p>
</section>

<section class="mb-8">
    <h2 class="mb-4">How to use this component</h2>
    <p>All input components must have a visible <a href="/components/label">label</a>. Placeholder text is not an acceptable replacement for a label as it vanishes when a user starts typing.</p>
    <p>Inputs should be appropriately sized to help the user understand what they should enter by making them the right size for the content they are intended for.</p>
    <p>By default, the input component will fill the width of its container. A <a href="#width-constrained">width constraint</a> class can be used to make the input smaller.</p>

    <h3 class="mb-4">Description</h2>
    <p>An optional <code>dp-label__description</code> can be used to display a hint to help the user enter their information.</p>
    {{ example({group: "components", item: "input", example: "with-description", html: true, open: false }) }}
</section>

<section class="mb-8">
    <h2 class="mb-4">Variants</h2>

    <h3 class="mb-4" id="width-constrained">Width constrained</h3>
    <p>Where possible, you should make the inputs have the right width for the size of the content they are intended for in order to help users understand what they should enter.
    For example, UK postcodes never consist of more than 8 characters.</p>

    <p>Inputs can have their widths constrained (but not limited) to the number of expected characters using the <code>dp-input--w-{value}</code> or <code>dp-input-number--w-{value}</code> classes.</p>

    <p>Where an input will include <strong>any</strong> text, use <code>dp-input--w-{value}</code>.<p>
    <p>Where an input will include <strong>only</strong> numeric values, use <code>dp-input-number--w-{value}</code>.<p>

    <p>Available values to append for both classes are: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 30, 40, 50.</p>
    {{ example({group: "components", item: "input", example: "width-constraint", html: true, open: false, size: "l" }) }}

    <h3 class="mb-4">Email</h3>
    <p>Setting the input <code>type</code> to <code>email</code> will bring up the correct keypad on touch devices.</p>
    {{ example({group: "components", item: "input", example: "email", html: true, open: false }) }}
</section>
