@mixin font-size($props, $base) {
  $small-size: map-get($props, small);
  $large-size: map-get($props, large);

  font-size: pxToRems($small-size, $base);
  font-weight: map-get($props, weight);
  line-height: map-get($props, line-height);

  @if $small-size != $large-size {
    @include mediaQuery("m") {
      font-size: pxToRems($large-size, $base);
    }
  }
}
