// ------------------------------------------------------- COLORS ------------------------------------------------------
// ----------------------------------------------------- ONS COLORS ----------------------------------------------------

// --- ONS General palette ---
$spring-green: #A8BD3A;
$aqua-teal: #00A3A6;
$sky-blue: #27A0CC;
$ocean-blue: #206095;
$night-blue: #003C57;

// --- Census ---
$indigo-blue: #3C388E;
$plum-purple: #902082;
$flamingo-pink: #DF0667;

// --- Supporting palette ---
$ruby-red: #D0021B;
$jaffa-orange: #FE781F;
$sun-yellow: #FBC900;
$neon-yellow: #F0F762;
$leaf-green: #0F8243;

// --- Grays ---
$black: #222;
$grey1: #414042;
$grey2: #707071;
$grey3: #BCBCBD;
$grey4: #E2E2E3;
$grey5: #F5F5F6;
$white: #FFF;


// --- Tints ---
// Allowed tint percentages
$tints: (70, 40, 10);
// colours to be used (currently all listed in colour palettes except greys)
// @formatter:off
$tintable-colors: (
        "spring-green":   $spring-green,
        "aqua-teal":      $aqua-teal,
        "sky-blue":       $sky-blue,
        "ocean-blue":     $ocean-blue,
        "night-blue":     $night-blue,
        "indigo-blue":    $indigo-blue,
        "plum-purple":    $plum-purple,
        "flamingo-pink":  $flamingo-pink,
        "ruby-red":       $ruby-red,
        "jaffa-orange":   $jaffa-orange,
        "sun-yellow":     $sun-yellow,
        "neon-yellow":    $neon-yellow,
        "leaf-green":     $leaf-green
);
// @formatter:on
// Assignment

$color-text: $black;
$color-text-inverse: $white;

$color-errors: $ruby-red;

// ----------------------------------------------------- DP COLORS -----------------------------------------------------

// --- Charts ---
// Palette 1
$dp-chart-palette-1: ($ocean-blue, $sky-blue, $night-blue, #118C7B, $spring-green);

// Palette 2
$dp-chart-palette-2: append($dp-chart-palette-1, #871A6B, #F66068, #746CB1, #22D0B6);

// Palette 3
$dp-chart-palette-2: append($ocean-blue, $sky-blue, #871A6B, $spring-green, #F66068);

// Highlight color for all pallets
$dp-chart-highlight: #F39431;