@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  font-family: 'Open Sans', ui-sans-serif, system-ui;
  line-height: 1.5;
}

@screen md {
  html {
    font-size: 18px;
  }
}

h1 {
  @apply text-4xl md:text-5xl mb-4 font-bold;
}

h2 {
  @apply text-2xl mb-4 font-bold;
}

p {
  @apply mb-4;
  max-width: 50em;
}

a {
  @apply text-ocean-blue underline;
}

a:hover {
  @apply text-night-blue;
}

code {
  @apply font-mono text-sm bg-grey-5 text-ruby-red px-1;
}

.page-container {
  @apply max-w-7xl mx-auto px-4 md:px-6 w-full;
}
