@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
  font-family: 'Open Sans', ui-sans-serif, system-ui;
  line-height: 1.6;
  @apply text-grey-1;
}

h1 {
  @apply text-5xl mb-4 font-bold;
}

h2 {
  @apply text-2xl mb-4 font-bold;
}

p {
  @apply mb-4;
  max-width: 50em;
}

a {
  @apply text-ocean-blue underline;
}

a:hover {
  @apply text-night-blue;
}

code {
  @apply font-mono text-sm bg-grey-5 text-ruby-red px-1;
}
