---
title: Input - width constraint variations
description: The input component lets users enter alphanumeric characters for answers that are no longer than one line, using the appropriate keyboard on touch devices.
layout: example
---

<div class="dp-field">
    <label class="dp-label" for="30-char-example">30 character width</label>
    <input type="text" id="30-char-example" autocomplete="on" class="dp-input dp-input--w-30">
</div>

<div class="dp-field">
    <label class="dp-label" for="30-numeric-example">30 numeric width</label>
    <input type="text" id="30-numeric-example" autocomplete="on" class="dp-input dp-input-number--w-30">
</div>

<div class="dp-field">
    <label class="dp-label" for="15-char-example">15 character width</label>
    <input type="text" id="15-char-example" autocomplete="on" class="dp-input dp-input--w-15">
</div>

<div class="dp-field">
    <label class="dp-label" for="15-numeric-example">15 numeric width</label>
    <input type="text" id="15-numeric-example" autocomplete="on" class="dp-input dp-input-number--w-15">
</div>

<div class="dp-field">
    <label class="dp-label" for="5-char-example">5 character width</label>
    <input type="text" id="5-char-example" autocomplete="on" class="dp-input dp-input--w-5">
</div>

<div class="dp-field">
    <label class="dp-label" for="5-numeric-example">5 numeric width</label>
    <input type="text" id="5-numeric-example" autocomplete="on" class="dp-input dp-input-number--w-5">
</div>