<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta description="{{ description }}">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <title>{{ title }} | Design System | ONS — Digital Publishing </title>
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/tailwind.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        {% if collectionName == "Components" %}
            <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        {% endif %}
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>
        {% include "header.njk" %}
        <div class="max-w-7xl mx-auto">
            <div class="grid gap-4 grid-cols-12">
                <div class="col-span-3 p-6">
                    {% include "nav.njk" %}
                </div>
                <div class="col-span-9 p-6">
                    <main id="main">
                        <div class="text-grey-2 text-lg mb-1">{{collectionName}}</div>
                        <h1 class="mb-8 dp-fs-xxxl">{{title}}</h1>
                        {{ content | safe }}
                    </main>
                </div>
            </div>
        </div>
        {% if collectionName == "Components" %}
            <script src="/js/tabs.js" defer></script>
        {% endif %}
    </body>
</html>