{% set sections = [
    {
        pages: [
            {
                url: "/",
                title: "Getting started"
            }
        ]
    }, {
        title: "Styles",
        pages: collections.styles | eleventyNavigation
    }, {
        title: "Components",
        pages: collections.components | eleventyNavigation
    }
] %}

<!DOCTYPE html>
<html lang="en" class="text-grey-1">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta description="{{ description }}">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <title>{{ title }} | Design System | ONS — Digital Publishing </title>
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/tailwind.css">
        {% if collectionName == "Components" %}
            <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        {% endif %}
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>
        {% include "header.njk" %}
        {% include "mobile-nav.njk" %}
        <div class="page-container">
            <div class="md:grid gap-4 grid-cols-12">
                <div class="col-span-3">
                    {% include "nav.njk" %}
                </div>
                <div class="col-span-9">
                    <main id="main" class="py-6">
                        <div class="text-grey-2 text-lg mb-1">{{collectionName}}</div>
                        <h1 class="mb-8 dp-fs-xxxl">{{title}}</h1>
                        {{ content | safe }}
                    </main>
                </div>
            </div>
        </div>
        {% if collectionName == "Components" %}
            <script src="/js/tabs.js" defer></script>
        {% endif %}
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const nav = document.getElementById("nav-mobile")
            const btnMenu = document.getElementById("btn-menu")
            const btnMenuArrow = document.getElementById("btn-menu-arrow")
            const menuSection = document.querySelectorAll(".nav-mobile-btn")

            menuSection.forEach(sectionBtn => sectionBtn.addEventListener("click", (e) => {
                const index = sectionBtn.getAttribute("data-index")
                const subMenu = document.getElementById(`nav-mobile-section-${index}`)

                sectionBtn
                    .querySelector("svg")
                    .classList
                    .toggle("-rotate-90")

                subMenu
                    .classList
                    .toggle("hidden")
            }))

            btnMenu.addEventListener("click", function () {
                const expanded = btnMenu.getAttribute("aria-expanded") === "true"

                nav
                    .classList
                    .toggle("hidden")

                btnMenu.setAttribute(
                    "aria-expanded", expanded
                    ? "false"
                    : "true")

                btnMenuArrow
                    .classList
                    .toggle("rotate-180")
            })

        })
    </script>
</html>