.font-size {
    &--0 {
        font-size: 0 !important;
    }
    &--14 {
        font-size: 14px !important;
    }
    &--16 {
        font-size: 16px !important;
    }
    &--17 {
        font-size: 17px !important;
    }
    &--18 {
        font-size: 18px !important;
    }
    &--19 {
        font-size: 19px !important;
    }
    &--21 {
        font-size: 21px !important;
    }
    &--24 {
        font-size: 24px !important;
    }
    &--30 {
        font-size: 30px !important;
    }
    &--35 {
        font-size: 35px !important;
    }
}

.font-weight-700 {
    font-weight: 700 !important;
  }
